* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.intro-shape {
    width: 100%;
    height: 500px;
    background:#0891b2;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
    position: absolute;
    z-index: -1;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.main-photo-container {
    position: relative;
}

#main-photo {
    box-shadow: 8px -1px 14px -5px rgba(0,0,0,0.75);
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.about-name {
    position: absolute;
    bottom: 5px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 14px 11px 6px -7px rgba(0,0,0,0.38);
    padding: 35px 25px;
}

.about .description {
    color: #646464;
    line-height: 25px;
}

.about-links-section {
    display: flex;
    align-self: flex-end;
    gap: 15px;
}

.about-link {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}